body {
    background: #00BBE4;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#home-content {
    margin-top: 15vh;
}

#search-content {
    margin-top: 2vh;
}

#welcome-to-text {
    color: #EECA00;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3vw;
}

#raft-text {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 14vw;
    margin: -3vw 0vw -2.5vw -.5vw;
    letter-spacing: 5px;
}

#term-form {
    height: 50px;
    font-size: 20px;
}

#mini-term-form {
    margin-left: .5vw;
    height: 40px;
    font-size: 15px;
}

#location-form {
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

#mini-location-form {
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

#location-button {
    padding-top: 1vh;
}

#use-my-location {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 34px;
    line-height: 17px;
}

#search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 50px;
}

#mini-search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 40px;
}

#raft-result {
    margin-top: 5vh;
}

#raft-name {
    color: white;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4vw;
    margin-bottom: -1vh;
}

#raft-address {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}


#raft-price-rating {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5vw;
}

#footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #EECA00;
}

@media screen and (max-width:1200px) {
    #welcome-to-text {
        font-size: 3.5vw;
    }
    
    #raft-text {
        margin: -3.5vw 0vw -3vw -.5vw;
        font-size: 16vw;
    }
}

@media screen and (max-width:767px) {
    #welcome-to-text {
        font-size: 5vw;
    }
    
    #raft-text {
        margin: -5.5vw 0vw -4.5vw -1vw;
        font-size: 25vw;
    }

    #location-div {
        margin: 2vw 0vw 2vw 0vw;
    }


    #footer {
        text-align: center;
        font-size: 3vh;
    }
}

@media screen and (max-width:575px) {
    #welcome-to-text {
        font-size: 6.5vw;
    }
    
    #raft-text {
        margin: -7vw 0vw -4.5vw -1vw;
        font-size: 30vw;
    }


}
