/* ---------------------------- All Pages ---------------------------- */
body {
    background: #00BBE4;
}

footer {
    padding-right: 20px;
    text-align: right;
    font-weight: 700;
    color: #EECA00;
}

.header-text {
    color: #EECA00;
    font-family: 'Heebo', sans-serif;
    font-size: 6vw;
    margin-bottom: -15px;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.highlight {
    color: #EECA00;
}

/* ---------------------------- Home Page ---------------------------- */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    outline: none;
    opacity: .7;
    transition: opacity .3s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #EECA00;;
    cursor: pointer;
  }

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EECA00;;
    cursor: pointer;
}

#home-content {
    margin-top: 15vh;
}

#welcome-to-text {
    color: #EECA00;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3vw;
}

#raft-text {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 14vw;
    margin: -3vw 0vw -2.5vw -.5vw;
    letter-spacing: 5px;
}

#term-form {
    height: 50px;
    font-size: 20px;
}

#location-form {
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

#search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 50px;
    border: 3px solid #EECA00;
}

/* ---------------------------- Search Page ---------------------------- */
#search-content {
    margin-top: 2vh;
}

#mini-term-form {
    height: 40px;
    font-size: 15px;
}

#mini-location-form {
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

#mini-search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 40px;
    border: 2px solid #EECA00;
}

#raft-result {
    margin-top: 5vh;
}

#raft-name {
    color: #EECA00;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: -.75vh;
}

#raft-address {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75vw;
    margin-bottom: 0px;
}

#raft-price-rating {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1.75vw;
}

#previous-next {
    margin-top: 15vh;
}

/* ---------------------------- About Page ---------------------------- */
#about-content {
    margin-top: 6vh;
}

#about-us {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: white;
}   

/* ---------------------------- Contact Page ---------------------------- */
#contact-content {
    margin-top: 6vh;
}

/* ---------------------------- Graveyard ---------------------------- */
#location-button {
    padding-top: 1vh;
}

#use-my-location {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 34px;
    line-height: 17px;
}

/* ---------------------------- Laptops Screens ---------------------------- */
@media screen and (max-width:1200px) {

    /* ----- Home Page ----- */
    #welcome-to-text {
        font-size: 3.5vw;
    }
    
    #raft-text {
        margin: -3.5vw 0vw -3vw -.5vw;
        font-size: 16vw;
    }

    #term-form {
        height: 45px;
        font-size: 20px;
    }

    #location-form {
        height: 45px;
        font-size: 20px;
        font-weight: 700;
    }
    
    #search-button {
        height: 45px;
        line-height: 22.5px;
    }

    /* ----- Search Page ----- */
    #raft-name {
        font-size: 5vw;
        line-height: 4.5vw;
        margin-bottom: -.25vh;
    }

    #raft-address {
        font-size: 2vw;
    }

    #raft-price-rating {
        font-size: 2vw;
    }
}

/* ---------------------------- Tablet Screens ---------------------------- */
@media screen and (max-width:767px) {

    /* ----- All Pages ----- */
    footer {
        text-align: center;
        font-size: 2vh;
    }

    #welcome-to-text {
        font-size: 5vw;
    }

    /* ----- All Pages ----- */
    #raft-text {
        margin: -5.5vw 0vw -4.5vw -1vw;
        font-size: 25vw;
    }

    #location-div {
        margin: 2vw 0vw 2vw 0vw;
    }

    #search-div {
        text-align: right;
    }

    /* ----- Search Page ----- */
    #mini-term-form {
        margin-bottom: 1vw;
    }

    #mini-location-form {
        margin-bottom: 1vw;
    }

    #raft-name {
        font-size: 7vw;
        line-height: 6vw;
    }

    #raft-address {
        font-size: 3vw;
    }

    #raft-price-rating {
        font-size: 3vw;
    }
}

/* ---------------------------- Smartphone Screens ---------------------------- */
@media screen and (max-width:575px) {
    /* ----- Home Page ----- */
    #welcome-to-text {
        font-size: 6.5vw;
    }
    
    #raft-text {
        margin: -7vw 0vw -4.5vw -1vw;
        font-size: 30vw;
    }

    /* ----- Search Page ----- */
    #raft-name {
        font-size: 9vw;
        line-height: 8vw;
    }

    #raft-address {
        font-size: 4vw;
    }

    #raft-price-rating {
        font-size: 4vw;
    }

}
