body {
    background: #00BBE4;
}

.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#home-content {
    margin-top: 15vh;
}

#search-content {
    margin-top: 2vh;
}

#welcome-to-text {
    color: #EECA00;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    padding-left: .5vw;
    margin-bottom: -5vh;
}

#raft-text {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 14vw;
    margin-bottom: -4vh;
    letter-spacing: 5px;
}

#term-form {
    height: 50px;
    margin-left: .5vw;
    font-size: 20px;
}

#mini-term-form {
    margin-left: .5vw;
    height: 40px;
    font-size: 15px;
}

#location-form {
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}

#mini-location-form {
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

#search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 50px;
}

#mini-search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 40px;
}

#raft-result {
    margin-top: 5vh;
}

#raft-name {
    color: white;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4vw;
    margin-bottom: -1vh;
}

#raft-address {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}


#raft-price-rating {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5vw;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    font-size: 1vw;
    line-height: 60px;
    font-weight: 700;
    color: #EECA00;
}
