body {
    background-color: #00BBE4;
}

#main-content {
    margin-top: 2vh;
}

#mini-term-form {
    margin-left: .5vw;
    height: 40px;
    font-size: 15px;
}

#mini-location-form {
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

#search-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    height: 40px;
}

#results {
    margin-top: 5vh;
}

#name {
    color: white;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4vw;
    margin-bottom: -2vh;
}

#address {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

#price-rating {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5vw;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    font-size: 1vw;
    line-height: 60px;
    font-weight: 700;
    color: #EECA00;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}
