{% extends 'base.html' %}

{% block content %}

{{ list|json_script:"rafts_json"}}

<div class="row">
    <div class="col-sm-12" align="center">
        <h1 id='test1'></h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <button onclick="getLocation()">Location</button>
    </div>
</div>


<script>
    function getLocation() {
        if (navigator.geolocation) {
            position = navigator.geolocation.getCurrentPosition(function(position) {
                console.log(position);
            });
        } else {
            console.log("geolocation not supported by this browser");
        }
    }
</script>

{% endblock %}