{% extends 'base.html' %}

{% block content %}

{{ list|json_script:"rafts_json"}}

<div class="row">
    <div class="col-sm-12" align="center">
        <h1 id='test1'></h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <button>Next</button>
    </div>
    <div class="col-sm-1">
        <button>Previous</button>
    </div>
</div>


<script type="text/javascript">
    var value = JSON.parse(JSON.parse(document.getElementById('rafts_json').textContent));
    console.log(value);

    document.getElementById('test1').innerHTML = value[0].name;
</script>

{% endblock %}