<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>RAFT</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:900|Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\main.css' %}">

    <link rel="icon" href="{% static 'images\favicon.ico' %}">
</head>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'images\raft-logo.png' %}" id="raft-logo" alt="logo" height="55" />
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link active px-4">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link active px-4">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active px-4">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <div class="row">
            <div id="footer" class="offset-sm-10 col-sm-2" align="right">
                <p>created by jonathan chen</p>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>