<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="#" class="navbar-brand">
        <img src="{% static 'images\raft-logo.png' %}" id="raft-logo" alt="logo" height="45" />
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active px-4">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active px-4">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active px-4">Contact</a>
            </li>
        </ul>
    </div>
</nav>