{% extends 'base.html' %}
{% block content %}
<div id="home-content">

    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h3 id="welcome-to-text">WELCOME TO</h3>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1 id="raft-text">RAFT.</h1>
        </div>
    </div>

    <form method="post" action="/search">
        {% csrf_token %}
        <div class="row">
            <div class="offset-md-1 col-md-6">
                {{ form.term }}
            </div>
            <div id="location-div" class="col-md-2">
                {{ form.location }}
            </div>
            <div id="search-div" class="col-md-1">
                <button id="search-button" class="btn btn-outline-warning btn-rounded btn-lg" type="submit">SEARCH</button>
            </div>
        </div>
    </form>

    <br>
    <br>

    <!-- <div class="row">
        <div class="col-sm-1" align="center">
            <p>Price</p>
        </div>
        <div class="col-sm-3">
            <input type="range" min="0" max="4" value="0" class="slider" id="price_slider">
        </div>
        <div class="col-sm-1">
            <span id="price_text"></span>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="offset-sm-7 col-sm-2" id="location-button">
            <form method="GET">
                <input onclick="getLocation()" class="btn btn-block btn-success btn-rounded" type="submit" value="USE MY LOCATION" name="get-location"/>
            </form>
        </div>
    </div> -->

</div>

{% csrf_token %}
<script>
    function getLocation() {
        if (navigator.geolocation) {
            
            position = navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                console.log("Latitude: " + latitude + " Longitude: " + longitude);
            });
        } else {
            alert("Geolocation is not supported by this browser.")
        }
    }

    var price_slider = document.getElementById("price_slider");
    var price_value = document.getElementById("price_text");
    price_value.innerHTML = price_slider.value;

    price_slider.oninput = function() {
        price_value.innerHTML = this.value;
    }
</script>
{% endblock %}
