{% extends 'base.html' %}
{% block content %}
<div id="search-content">

    <form method="post">
        {% csrf_token %}
        <div id="search-area" class="row">
            <div class="offset-lg-2 col-lg-5 offset-sm-1 col-sm-6">
                {{ form.term }}
            </div>
            <div class="col-lg-2 col-sm-2">
                {{ form.location }}
            </div>
            <div class="col-lg-1 col-sm-1">
                <button id="mini-search-button" class="btn btn-outline-warning btn-rounded btn-md" type="submit">SEARCH</button>
            </div>
        </div>
    </form>

    <div id="raft-result">
        <div class="row">
            <div class="offset-sm-1 col-sm-9">
                <h1 id="raft-name">{{ name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-4">
                <h2 id="raft-address">{{ address }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-4" id="raft-price-rating">
                <h2 id="raft-price-rating">{{ price }} &nbsp;| &nbsp;{{ rating }} &#9733;</h2>
            </div>
        </div>
    </div>

    <br>

    <!-- <script>
        function showNext(param) {
            {{ raft_list|json_script:"raft_list" }}
            var list = JSON.parse(document.getElementById('words_list').textContent);
            var i = 0;
            console.log(list[0])
        }
    </script> -->

    <div id="previous-next">
        <div class="row">
            <div class="offset-sm-1 col-sm-1">
                <button>Previous</button>
            </div>
            <div class="col-sm-1">
                <button>Next</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}