{% extends 'base.html' %}
{% block content %}
<div id="search-content">

    <form method="post">
        {% csrf_token %}
        <div id="search-area" class="row">
            <div class="offset-lg-2 col-lg-5 offset-sm-1 col-sm-6">
                {{ form.term }}
            </div>
            <div class="col-lg-2 col-sm-2">
                {{ form.location }}
            </div>
            <div class="col-lg-1 col-sm-1">
                <button id="mini-search-button" class="btn btn-outline-warning btn-rounded btn-md" type="submit">SEARCH</button>
            </div>
        </div>
    </form>

    <div id="raft-result">
        <div class="row">
            <div class="offset-sm-1" id="raft-name">
                {{ name }}
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1" id="raft-address">
                {{ address }}
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1" id="raft-price-rating">
                {{ price }} &nbsp;| &nbsp;{{ rating }} &#9733; &#9733; &#9733; &#9733;

            </div>
        </div>
    </div>
</div>
{% endblock %}