{% extends 'base.html' %}
{% block content %}
<div id="search-content">

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 offset-md-2 col-md-4 offset-lg-2 col-lg-4">
                {{ form.term }}
            </div>
            <div class="col-sm-9 col-md-2 col-lg-2">
                {{ form.location }}
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2">
                <button id="mini-search-button" class="btn btn-outline-warning btn-rounded btn-md btn-block" type="submit">SEARCH</button>
            </div>
        </div>
    </form>

    <div id="raft-result">
        <div class="row">
            <div class="offset-sm-1 col-sm-10">
                <h1 id="raft-name"></h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-6">
                <h2 id="raft-address"></h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-4">
                <h2 id="raft-price-rating"></h2>
            </div>
        </div>
    </div>

    <div id="previous-next">
        <div class="row">
            <div class="offset-sm-1 col-sm-3">
                <button class="btn btn-success btn-lg btn-block" onclick="nextPrev('prev')">&lt;&lt; PREV</button>
            </div>
            <div class="offset-sm-4 col-sm-3">
                <button class="btn btn-success btn-lg btn-block" onclick="nextPrev('next')">NEXT &gt;&gt; </button>
            </div>
        </div>
    </div>

</div>

{{ raft_list|json_script:"rafts_json"}}

<script>
    var len = {{ num_rafts }}
    var json = JSON.parse(JSON.parse(document.getElementById('rafts_json').textContent));
    console.log(json)
    var i = 0;
    document.getElementById('raft-name').innerHTML = json[i].name;
    document.getElementById('raft-address').innerHTML = json[i].address;
    document.getElementById('raft-price-rating').innerHTML = json[i].price + " | " + json[i].rating + " &#9733;";

    function nextPrev(param) {
        if (param === 'next') {
            i = (((i + 1) % len) + len) % len;  
        } else {
            i = (((i - 1) % len) + len) % len;   
        }
        document.getElementById('raft-name').innerHTML = json[i].name;
        document.getElementById('raft-address').innerHTML = json[i].address;
        document.getElementById('raft-price-rating').innerHTML = json[i].price + " | " + json[i].rating + " &#9733;";
    }

</script>

{% endblock %}